<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Feria web</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'app_feria/assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'app_feria/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">

                {% if request.user.is_authenticated %}

                <a class="navbar-brand" href="{% url 'Editar Usuario' %}">Editar Usuario</a>
                <a class="navbar-brand" href="{% url 'Logout' %}">Cerrar sesión</a>

                <a class="navbar-brand">{{user.username}}</a>



                {% else %}

                <a class="navbar-brand" href="{% url 'Registrarse' %}">Registrarse</a>
                <a class="navbar-brand" href="{% url 'Login' %}">Iniciar sesión</a>
            

                {% endif %}

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'Leer Jeans' %}">Jeans</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Leer Remera' %}">Remeras</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Leer Camisas' %}">Camisas</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Leer Calzado' %}">Calzados</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Leer todo por 100' %}">Todo por $100</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Buscar' %}">Buscar</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Inicio' %}">Inicio</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url('https://www.diarioelinforme.com.ar/contenido/noticias/original/1550839520.jpeg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        width: 1263px;
        height: 670px;
        position: relative;">
            <div class="text-center my-1">
                <img class="img-fluid rounded-circle mb-4" src="https://cdn.icon-icons.com/icons2/3150/PNG/512/clothing_shop_bag_tshirt_icon_192654.png"
                style="
                background-color: rgb(127, 255, 193);
                width: 230px;
                height: 250px;
                position: relative;">
                
            

                {% block titulo %}


                {% endblock %}

                <p class="text-white-50 mb-0"></p>
                
                {% block descripcion %}



                {% endblock %}

            </div>
        </header>

        {% block pie %}


        {% endblock %}
        
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Realizado por:</p></div>
            <div class="container"><p class="m-0 text-center text-white">Movimiento de la Palabra de Dios, iniciacion 2</p></div>
            <li align="center"; class="nav-item"><a class="m-0 text-center text-white" href="{% url 'Sobrenosotros' %}">About</a></li>
        </footer>   
        <!-- Core theme JS-->
        <script src="{% static 'app_feria/js/scripts.js' %}"></script>
    </body>
</html>
