{% extends "app_feria/padre2.html" %}


{% block titulo %}

<h1 style="color:rgb(0, 9, 4) ;">
    <ol>
        Esta página mostrará las remeras.
    </ol>
</h1>
{% endblock %}


{% block descripcion %}


<div class="container text-center">
    <div class="row">
        {% for pe in persona %}
        <div class="col-sm-6 align-items-center">
            

                <h6>
                    {% if pe.imagen %}
                    <img src="{{pe.imagen.url}}"style="
                    width: 500px;
                    height: 570px;">
                    {% endif %}
                    <h5>
                        Codigo: {{pe.codigo}}--Talle: {{pe.talle}}--Color: {{pe.color}}
                    </h5>
                    <h5>
                        Para {{pe.genero}}--Precio: ${{pe.precio}}
                    </h5>
                </h6>
                
        
        
                {% if request.user.is_superuser %}
        
        
                <ol>
                    <button style="background-color:black; border-color: forestgreen">
                        <em>
                            <a href="{% url 'EliminaRemera' pe.codigo %}"> Eliminar Remera</a>
                        </em>
                    </button>
            
                    <button style="background-color:black; border-color: forestgreen">
                        <em>
                            <a href="{% url 'EditarRemera' pe.codigo %}"> Editar Remera</a>
                        </em>
                    </button>
                    <h6>
                        ----------------------------
                    </h6>
                </ol>
        
                {% else %}
        
                ----------------------------
        
                {% endif %}
        
            
        </div>
        {% endfor %}
    </div>

</div>

{% if request.user.is_superuser %}
<div>
        <ol>
            <button style="background-color:black; border-color: forestgreen">
                <em>
                    <a href="{% url 'Crear Remera' %}"> Agregar otra Remera</a>
                </em>
            </button>
        </ol>
</div>

{% else %}

{% endif %}



{% endblock %}